@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}

html{
  scroll-behavior: smooth;
}
/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #4a148c;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6a1b9a;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4a148c #1a1a1a;
}

/* Rest of your global styles */
